*{
    font-family: Arial, Helvetica, sans-serif;
}

label{
    color: #292828de;
}
.menu{
    border: 1px solid #ddd;
    outline: none;
    width: 200px;
    height: 40px;
    border-radius: 2px;
}

.value{
    border: 1px solid #ddd;
    outline: none;
    width: 120px;
    height: 40px;
    border-radius: 2px;
    padding-left: 20px;
}

.result{
    border: 1px solid #ddd;
    outline: none;
    width: 120px;
    height: 40px;
    border-radius: 2px;
    padding-left: 20px;
}

button{
    height: 40px;
    width: 40px;
}